#contenedorCard{
    display: flex;
    justify-content: center;
}

img {
    margin-left: auto;
    height: 160px;
}

#contenedorBotones{
    display: flex;
    justify-content: center;
}


#contact-btn{
    margin-left: 20px;
}

div.container.py-5{
    padding: 10px 12px 0px 12px !important;
}

